<section class="moment-edit">
  <div *ngIf="loading" class="loading">
    <app-loading></app-loading>
  </div>

  <app-container>
    <div *ngIf="!loading && moment" class="moment-edit-wrapper">
      <h1>
        <span>Atualize o seu <strong>Momento</strong></span>
        <img src="../../../assets/moments.png" alt="Icon">
      </h1>
      <app-moment-form
        [btnText]="btnText"
        [moment]="moment"
        (onSubmit)="handleEditMoment($event)"
      >
      </app-moment-form>
    </div>
  </app-container>
</section>
