.header {
  background: var(--white);
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: .3s;

  &.active {
    height: 4rem;
    transition: .3s;

    .header-wrapper {
      height: 4rem;
      transition: .3s;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 5rem;
    transition: .4s;

    .header-logo {
      a {
        display: flex;
        align-items: center;
        gap: .625rem;
        color: var(--gray-400);

        span {
          display: inline-block;
          font-size: 1.25rem;
          transition: .3s;
        }

        img {
          width: 2.5rem;
        }

        &:hover {
          span {
            color: var(--yellow-600);
          }
        }
      }
    }

    nav {
      @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(5, 5, 5, 0.6);
        transition: .5s;
      }

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: .5s;

        ul {
          transform: translate3d(0, 0, 0);
          transition: .5s;
        }
      }

      ul {
        display: flex;
        align-items: center;
        background: var(--white);

        @media (max-width: 768px) {
          display: block;
          height: 100vh;
          width: 60%;
          transform: translate3d(100%, 0, 0);
          padding: 1rem;
          overflow-x: auto;
          transition: .5s;
        }

        @media (max-width: 480px) {
          width: 80%;
        }

        @media (max-width: 414px) {
          width: 100%;
        }

        li {
          &:first-of-type {
            display: none;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.25rem;

            @media (max-width: 768px) {
              display: flex;
            }

            span {
              font-size: 1.5rem;
            }
          }

          a {
            transition: .3s;
            padding: .75rem;
            color: var(--gray-400);

            @media (max-width: 768px) {
              display: block;
              padding: 0;
              font-size: 1.25rem;
              padding-bottom: 1.25rem;
            }

            &.active, &:hover {
              color: var(--yellow-600);
            }
          }
        }
      }
    }

    button {
      display: none;
      background: transparent;
      border: none;
      font-size: 2rem;
      color: var(--gray-400);
      padding: .325rem;

      @media (max-width: 768px) {
        display: inline-block;
      }
    }
  }
}
